Repository delta-io/delta, pull requests merged in 2024-05, with the labels that each got.

#3003 [Kernel][Writes] Add schema validation utils
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/util/SchemaUtils.java
  kernel/kernel-api/src/test/scala/io/delta/kernel/internal/util/SchemaUtilsSuite.scala
Labels: kernel

#3032 [Kernel] Add a meta file containing the Kernel version.
  build.sbt
Labels: kernel

#3018 [Kernel] Remove unused `ExpressionHandler.isSupported(...)` for now
  kernel/kernel-api/src/main/java/io/delta/kernel/engine/ExpressionHandler.java
  kernel/kernel-api/src/test/scala/io/delta/kernel/test/MockEngineUtils.scala
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/engine/DefaultExpressionHandler.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/engine/DefaultExpressionHandlerSuite.scala
Labels: kernel

#3014 [Kernel] Refactor all user-facing exceptions to be "KernelExceptions"
  connectors/flink/src/main/scala/io/delta/flink/internal/KernelDeltaLogDelegator.scala
  kernel/examples/table-reader/src/main/java/io/delta/kernel/examples/BaseTableReader.java
  kernel/examples/table-reader/src/main/java/io/delta/kernel/examples/MultiThreadedTableReader.java
  kernel/examples/table-reader/src/main/java/io/delta/kernel/examples/SingleThreadedTableReader.java
  kernel/kernel-api/src/main/java/io/delta/kernel/Table.java
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/CheckpointAlreadyExistsException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/KernelException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/TableNotFoundException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/DeltaErrors.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/DeltaHistoryManager.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/TableFeatures.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/TableImpl.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/replay/LogReplay.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/snapshot/SnapshotManager.java
  kernel/kernel-api/src/test/scala/io/delta/kernel/internal/DeltaHistoryManagerSuite.scala
  kernel/kernel-api/src/test/scala/io/delta/kernel/internal/SnapshotManagerSuite.scala
  kernel/kernel-api/src/test/scala/io/delta/kernel/internal/TableFeaturesSuite.scala
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/DefaultEngineErrors.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/DefaultExpressionEvaluator.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/ElementAtEvaluator.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/CreateCheckpointSuite.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/DeltaTableReadsSuite.scala
Labels: kernel

#3030 [Kernel][Writes] Add support of inserting data into tables
  kernel/kernel-api/src/main/java/io/delta/kernel/Transaction.java
  kernel/kernel-api/src/main/java/io/delta/kernel/engine/JsonHandler.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/DeltaErrors.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/TransactionImpl.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/actions/AddFile.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/data/TransactionStateRow.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/util/InternalUtils.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/util/PartitionUtils.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/util/SchemaUtils.java
  kernel/kernel-api/src/main/java/io/delta/kernel/utils/CloseableIterable.java
  kernel/kernel-api/src/main/java/io/delta/kernel/utils/DataFileStatistics.java
  kernel/kernel-api/src/test/scala/io/delta/kernel/test/VectorTestUtils.scala
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/engine/DefaultJsonHandler.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/engine/DefaultParquetHandler.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/json/JsonUtils.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/CreateCheckpointSuite.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/DeltaTableWriteSuiteBase.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/DeltaTableWritesSuite.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/internal/json/JsonUtilsSuite.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/utils/TestUtils.scala
Labels: kernel

#3025 [Doc] Type Widening documentation
  docs/source/delta-drop-feature.md
  docs/source/delta-type-widening.md
  docs/source/index.md
  docs/source/versioning.md
Labels: documentation

#3038 [Doc] Type Widening documentation
  docs/source/delta-drop-feature.md
  docs/source/delta-type-widening.md
  docs/source/index.md
  docs/source/versioning.md
Labels: documentation

#3051 [Kernel][Writes] Support idempotent writes
  kernel/kernel-api/src/main/java/io/delta/kernel/TransactionBuilder.java
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/ConcurrentTransactionException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/ConcurrentWriteException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/DeltaErrors.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/TransactionBuilderImpl.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/TransactionImpl.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/DeltaTableWritesSuite.scala
Labels: kernel

#3058 [Kernel][Docs] Rename `TableClient` to `Engine`
  kernel/README.md
  kernel/USER_GUIDE.md
Labels: kernel

#3062 [Kernel][Usage Guide] Migration docs for Kernel 3.2
  kernel/USER_GUIDE.md
Labels: kernel

#3027 [Kernel] [API-Docs] API doc update for ScanBuilder.withFilter
  kernel/kernel-api/src/main/java/io/delta/kernel/ScanBuilder.java
Labels: kernel

#3064 [Kernel][Examples] Refactor/clean up the Kernel examples
  kernel/examples/kernel-examples/pom.xml
  kernel/examples/kernel-examples/src/main/java/io/delta/kernel/examples/BaseTableReader.java
  kernel/examples/kernel-examples/src/main/java/io/delta/kernel/examples/MultiThreadedTableReader.java
  kernel/examples/kernel-examples/src/main/java/io/delta/kernel/examples/SingleThreadedTableReader.java
  kernel/examples/kernel-examples/src/main/java/io/delta/kernel/examples/utils/RowSerDe.java
  kernel/examples/kernel-examples/src/main/java/io/delta/kernel/integration/ReadIntegrationTestSuite.java
  kernel/examples/run-kernel-examples.py
Labels: kernel

#3071 [Kernel] Fix the infinite loop in `CloseableIterator.map`
  kernel/kernel-api/src/main/java/io/delta/kernel/utils/CloseableIterator.java
Labels: kernel

#3074 [Kernel][Writes] Update the `USER_GUIDE`
  kernel/USER_GUIDE.md
Labels: kernel

#3084 [Kernel][Writes] Write `timestamp` as `INT64` type to Parquet data files
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/parquet/ParquetColumnWriters.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/parquet/ParquetSchemaUtils.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/parquet/ParquetStatsReader.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/internal/parquet/ParquetFileWriterSuite.scala
Labels: kernel

#3085 [Kernel] Update README.md
  kernel/README.md
Labels: kernel

#3086 [Kernel] Handle `KernelEngineException` when reading the `_last_checkpoint` file
  kernel/kernel-api/src/main/java/io/delta/kernel/exceptions/KernelEngineException.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/checkpoints/Checkpointer.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/snapshot/SnapshotManager.java
  kernel/kernel-api/src/main/java/io/delta/kernel/utils/CloseableIterator.java
  kernel/kernel-api/src/test/scala/io/delta/kernel/internal/checkpoints/CheckpointerSuite.scala
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/engine/DefaultJsonHandler.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/parquet/ParquetFileReader.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/LogReplayMetricsSuite.scala
Labels: kernel

#3119 [Kernel] Return `tags` in `Scan.getScanFiles()` output
  kernel/kernel-api/src/main/java/io/delta/kernel/Scan.java
  kernel/kernel-api/src/main/java/io/delta/kernel/internal/actions/AddFile.java
Labels: kernel-api-change

#3115 [INFRA] Improve the java style checks log the errors to sbt console
  build.sbt
  project/Checkstyle.scala
Labels: kernel

#3103 [Kernel][Expressions] Add support for LIKE expression
  kernel/kernel-api/src/main/java/io/delta/kernel/expressions/Predicate.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/DefaultEngineErrors.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/DefaultExpressionEvaluator.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/ExpressionVisitor.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/LikeExpressionEvaluator.java
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/internal/expressions/DefaultExpressionEvaluatorSuite.scala
  kernel/kernel-defaults/src/test/scala/io/delta/kernel/defaults/internal/expressions/ExpressionSuiteBase.scala
Labels: kernel, kernel-api-change

#2853 [Kernel] Change comparator expression to lazy evaluation
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/DefaultExpressionEvaluator.java
  kernel/kernel-defaults/src/main/java/io/delta/kernel/defaults/internal/expressions/DefaultExpressionUtils.java
Labels: kernel
